@charset "utf-8";
/* CSS Document */
Body{background: rgba(255,255,255,1.00);
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";}
nav ul{list-style: none;
padding: 0;}
nav a {text-decoration: none;
color: rgba(22,20,21,1.00);display: block;padding: 5px;}

nav li {line-height: 2rem;position: relative;}

nav > ul {background:rgba(52,98,145,1.00);display: table;width: 25%;
 }
nav >ul > li{float:none;}
nav a:hover{background:rgba(2,208,185,1.00);transition: .2s;}
	li li{ background:rgba(180,176,176,1.00);}
li li li{background:rgba(209,201,201,1.00);}
nav li ul{display: none;} 	
nav li:hover > ul {display:block;}
