@charset "utf-8";
/* CSS Document */
Body{background: rgba(255,255,255,1.00);
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";}
nav ul{list-style: none;
padding: 0;}
nav a {text-decoration: none;
color: #B8D6C8;display:inline-block;padding: 0 1em;}

nav li {line-height: 3rem;position: relative;}

nav > ul {background:rgba(0,81,100,1.00);display:table;width: 100%;float: left;}
nav ul ul  ul{left: 100%;top: 0;}
nav li li{width: 100%;}
nav >ul > li{float:left;width: 20%;}
nav a:hover{background:rgba(2,208,185,1.00);transition: .5s;}
	li li{ background:rgba(180,176,176,1.00);width: 500px;}
li li li{background:rgba(209,201,201,1.00);width: 500px;}
nav li ul{display: none;position: absolute;} 	
nav li:hover > ul {display:block;}
li li a{color:rgba(34,34,34,1.00);}
li li li a{color:rgba(34,34,34,1.00);}
#logo{width: 20%;height: 70px; position:relative; left:0px; top: 10px;padding: 3px;float: left; }
#logo{width: 20%;height: 50px; position:relative; left:0px; top: 10px;padding: 3px;float: left; }
h1{color:rgba(26,42,103,1.00);position:relative;top:30px;font-weight: lighter;}
